<!DOCTYPE html>
<html lang='ru'>
<head>
	<meta charset='utf-8'>
	<meta name='viewpoint' content='width=device-width, initial-scale=1.0'>
	<link rel='stylesheet' href='../static/css/new.css'>
	<title></title>
</head>
<body>
	<form method='POST' class='form'>
		<p></p><input name='user' type='text' placeholder='  login'>
		<p></p><input name='pass' type='text' placeholder='  password'>
		<p></p><input type='submit' class='btn' value='Вход'>
	</form>
	<button onclick='location.href="http://127.0.0.1:1000/reg"'>Зарегистрироваться</button>
	<button onclick='location.href="http://127.0.0.1:1000/categories/computers"'>Вернуться назад</button>
</body>
</html>