<!DOCTYPE html>
<html lang='ru'>
	<head>
		<meta name='viewpoint' content='width=device-width, initial-scale=1.0'>
		<meta charset='utf-8'>
		<link rel='stylesheet' href='../static/css/new.css'>
		<title>new</title>
	</head>
	<body>
		<form method='POST' class='form'>
			<p></p><input name='user' type='text' placeholder='  login'>
			<p></p><input name='pass' type='password' placeholder='  password'>
			<p></p><input type='submit' class='btn' value=' Регистрация'>
		</form>
		<button onclick='location.href="http://127.0.0.1:1000/login"'>Войти в аккаунт</button>
		<button onclick='location.href="http://127.0.0.1:1000/categories/computers"'>Вернуться назад</button>
	</body>
</html>