<!DOCTYPE html>
<html lang='ru'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewpoint' content='width=device-width, initial-scale=1.0'>
		<link rel='stylesheet' href='../static/css/value.css'>
		<title>value</title>
	</head>
	<body>
		<form method='POST'>
			<p></p><input class='search' name='search' type='number' placeholder='Введите id продавца'>
			<p></p><input class='sub' name='sub' type='submit' value='Искать'>
		</form>
		<button onclick='location.href="http://127.0.0.1:1000/balance"'>Пополнить баланс</button>
	</body>
</html>